@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Carrois+Gothic+SC&family=Ewert&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul[class] {
  list-style: none;
}

body {
  background-image: url(snow.jpg);
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #333;
  justify-content: flex-start;
  align-items: center;
}
main {
  padding: 2rem;
  border-radius: 20px;
  margin: 0 30px;
  max-width: calc(100% - 30px);
}
.countdown-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}
h1 {
  font-size: clamp(1rem, 3vw, 3rem);
  letter-spacing: 0.0875em;
  font-family: "Carrois Gothic SC", sans-serif;
  text-align: center;
}
.countdown-el {
  font-family: "Cardo", serif;
}
.countdown-el .big-text {
  font-size: clamp(1rem, 8vw, 6rem);
  line-height: 1;
  margin: 0 1rem;
  font-family: "Ewert", cursive;
}
.countdown-el span {
  font-size: clamp(0.875rem, 2vw, 1.25rem);
}

@media (max-width: 30em) {
  h1 {
    margin-top: 40px;
    font-size: clamp(1rem, 6vw, 3rem);
  }
  .countdown-el .big-text {
    font-size: clamp(1rem, 12vw, 6rem);
  }

  .countdown-container {
    flex-wrap: wrap;
    gap: 3em;
  }

  .countdown-el {
    flex-basis: calc(50% - 3em);
  }
}
